@model Emergency.Usuario
@{
    ViewData["Title"] = "Detalle Usuario";
}
@{
}


<h1>Historial clinico</h1>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Nombre completo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre) @Model.Paterno @Model.Materno
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermedad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermedad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoEmergencias)
        </dt>
        <dd class="col col-lg-10">
            @Html.DisplayFor(model => model.TelefonoEmergencias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
       <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Otro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Otro)
        </dd>
    </dl>
  
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>
