@model List<Usuario>

   
    <h1>Alumnos</h1>
    <table class="table table-dark table-striped mb-0">
        <tr><td>Nombre Completo</td><td>Telefono</td><td>Detalle</td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre @item.Paterno @item.Materno</td>
                <td>@item.Telefono</td>
                <td><a asp-action="DetalleUsuario" asp-route-id="@item.Id">Mostrar</a></td>
            </tr>

            }
        </table>